@page "/"
@using NTask.Shared.Components

<PageTitle>Index</PageTitle>

<h1>Projects</h1>
<MudButton Variant="Variant.Filled" Color="Color.Secondary" @onclick="OpenDialog">
    Add New
</MudButton>
<MudDivider DividerType="DividerType.FullWidth" Class="my-6"/>

<MudContainer>
    <MudGrid Spacing="2" Justify="Justify.Center">
    @foreach (var project in Projects)
    {
        <MudItem xs="6">
            <MudCard Class="border-solid border-2 mud-border-primary pa-4 mud-elevation-4 rounded">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.body1">@project.Value.Name</MudText>
                        <MudText Typo="Typo.body2">@project.Key</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudDivider/>
                <MudCardContent>
                    <MudText>@project.Value.Description</MudText>
                    <MudText Typo="Typo.caption">@project.Value.Created</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Default" @onclick="@(() => OpenProject(project.Key))"/>
                </MudCardActions>
            </MudCard>
    </MudItem>
    }
    </MudGrid>
</MudContainer>
